@page "{id:int?}"
@model DocumentService.Pages.HandyMembers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>HandyMember</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HandyMember.ID" />
            <div class="form-group">
                <label asp-for="HandyMember.FirstName" class="control-label"></label>
                <input asp-for="HandyMember.FirstName" class="form-control" />
                <span asp-validation-for="HandyMember.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HandyMember.LastName" class="control-label"></label>
                <input asp-for="HandyMember.LastName" class="form-control" />
                <span asp-validation-for="HandyMember.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HandyMember.DateOfBirth" class="control-label"></label>
                <input asp-for="HandyMember.DateOfBirth" class="form-control" />
                <span asp-validation-for="HandyMember.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HandyMember.Email" class="control-label"></label>
                <input asp-for="HandyMember.Email" class="form-control" />
                <span asp-validation-for="HandyMember.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HandyMember.Phone" class="control-label"></label>
                <input asp-for="HandyMember.Phone" class="form-control" />
                <span asp-validation-for="HandyMember.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HandyMember.AptNum" class="control-label"></label>
                <input asp-for="HandyMember.AptNum" class="form-control" />
                <span asp-validation-for="HandyMember.AptNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HandyMember.Street" class="control-label"></label>
                <input asp-for="HandyMember.Street" class="form-control" />
                <span asp-validation-for="HandyMember.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HandyMember.City" class="control-label"></label>
                <input asp-for="HandyMember.City" class="form-control" />
                <span asp-validation-for="HandyMember.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HandyMember.ZIP" class="control-label"></label>
                <input asp-for="HandyMember.ZIP" class="form-control" />
                <span asp-validation-for="HandyMember.ZIP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HandyMember.Photo" class="control-label"></label>
                <input asp-for="HandyMember.Photo" class="form-control" />
                <span asp-validation-for="HandyMember.Photo" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HandyMember.Tasker" /> @Html.DisplayNameFor(model => model.HandyMember.Tasker)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
