@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>You are now logged in as @Globals.CURRENT_USER</h1>

<form method="post">
    <div class="row">
        <div class="form-group">
            <input type="submit" value="Crothall" asp-page-handler="Crothall" class="btn btn-primary" />
        </div>
        <div class="form-group">
            <input type="submit" value="Hospital A" asp-page-handler="HospitalA" class="btn btn-primary" />
        </div>
        <div class="form-group">
            <input type="submit" value="Hospital B" asp-page-handler="HospitalB" class="btn btn-primary" />
        </div>
        <div class="form-group">
            <input type="submit" value="Hospital C" asp-page-handler="HospitalC" class="btn btn-primary" />
        </div>
    </div>
</form>