@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>The Professional Service Makes Your Life Better</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Document Service</h2>
        <p>
            Handy is a sample application that
            connects those who need handy service with the skilled masters.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Connect</h2>
        <p>Find and connect with the reliable tasker closest to you</p>
        <p>
            <a class="btn btn-default"
               href="https://docs.microsoft.com/aspnet/core/data/ef-rp/intro">
                See the tutorial &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Join the community</h2>
        <p>Be one of our reliable taskforce.</p>
        <p>
            <a class="btn btn-default"
               href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-rp/intro/samples/cu-final">
                Register now &raquo;
            </a>
        </p>
    </div>
</div>
